:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --text-preset-1: 800 24px/1.5 'Figtree', sans-serif;
    --text-preset-2: 500 16px/1.5 'Figtree', sans-serif; 
    --text-preset-3: 500 14px/1.5 'Figtree', sans-serif; 
    --text-preset-3-bold: 800 14px/1.5 'Figtree', sans-serif;  
}

body {
    background-color: var(--yellow);
    margin: 0px;
}

.container {
    display: flex;
    margin-top: 219px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.card {
    background-color: white;
    width: 384px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid var(--gray-950);
    box-shadow: 8px 8px 0px 0px #000000;
    padding: 24px; /* Substitui as margens da imagem por padding no card */
}

.categorie,
.data,
h1,
.content,
.user {
    margin-left: 0; /* Remove margens adicionais, agora controladas pelo padding do card */
}

.thumbnail {
    border-radius: 10px;
    align-self: center;
    max-width: 100%; /* Garante que a largura da imagem não exceda a do card */
    height: auto; /* Mantém a proporção */
    display: block; /* Evita espaços extras ao redor da imagem */
    margin-bottom: 24px;
}

.categorie {
    margin: 0;
    background-color: var(--yellow);
    font: var(--text-preset-3-bold);
    width: auto;
    margin-bottom: 12px;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}

.data {
    font: var(--text-preset-3);
    color: var(--gray-950);
    margin: 0;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font: var(--text-preset-1);
    color: var(--gray-950);
    margin-bottom: 12px;
}

h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

a:focus h1{
    color: var(--yellow);
}

a:focus {
    outline: none;
}

.content {
    margin: 0;
    font: var(--text-preset-2);
    margin-bottom: 24px;
    color: var(--gray-500);
}

.user {
    display: flex;
    align-items: center;
}

.user_img {
    width: 32px;
}

.user_name {
    margin: 0;
    margin-left: 12px;
    font: var(--text-preset-3-bold);
}

footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .card {
        width: 327px;
    }
    h1 {
        font-size: 20px;
    }
}   